@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Ivy Mode';
    src: url('../fonts/IvyMode-Regular.woff2') format('woff2'),
        url('../fonts/IvyMode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {

    --color-background: #FFEBEB;
    --primary-color: #C23F3F;

    // --gradient-background:

    // --color-accent: 

    // --color-foreground:  text color;

    --heading-color: #0D0D0D;
    --white-color: #ffffff;
    --body-color: #6C514F;

    // --color-shadow: 

    --color-primary-button: #C23F3F;

    --color-primary-button-text: #ffffff;

    --color-primary-button-hover: #0D0D0D;

    // --color-primary-button-hover-text: 

    // --color-primary-button-outline:

    // --color-primary-button-outline-hover: 

    // --color-secondary-button: 

    // --color-secondary-button-text:

    // --color-secondary-button-hover:

    // --color-secondary-button-hover-text: 

    // --color-secondary-button-outline: 

    // --color-secondary-button-outline-hover: 

    --color-link: #B6B6B6 !important;

    // --color-input:

    --color-border: #E0E0E0;

    // --color-input-outline: 

    // --color-placeholder: 

    // --color-badge-foreground: 

    // --color-badge-background: 

    // --color-badge-border: 

    // --payment-terms-background-color: 


    --body-font: "Jost", sans-serif;
    --heading-font: "Ivy Mode";

    --transition-base: 0.3s;

}